<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url('shop_gadget_list') }}">Gadget Shop</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form action="{{ path('shop_gadget_search') }}" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" name="search" class="form-control" {% if needle is defined %} value="{{ needle }}" {% endif %}>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</nav>